<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FrankenDrift</string>
	<key>CFBundleIdentifier</key>
	<string>de.diepixelecke.frankendrift</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>MacIcon.icns</string>
</dict>
</plist>
